body {
    font-family: 'Titillium Web', sans-serif;
}

h1 {font-size: 66px;font-weight: 600;line-height: 80px;}
h2 {font-size: 48px; margin-bottom:30px ;}

p{ 
    font-size:18px;
    color:black;
    line-height: 1.8;
    margin-bottom: 0;
}
.disciplina-header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}

.disciplina-header > a  > button{
    padding: 10px;
}

section {
    padding:120px 0;

}
.topmargin-xs{margin-top: 15px;}
.topmargin-sm{margin-top: 30px;}
.topmargin-lg{margin-top: 60px;}

.btn {
    font-size: 14px;
    padding: 15px 26px;
    min-width: 160px;
    border-radius: 2px;
    display: inline-block;

}

.btn-light{

    background-color: #ffffff;
    color: black;
    border: 2px solid #ffffff;

}

.btn i {
    font-size: 14px; margin-left: 5px;
}
.navbar {
    background-color: #ffffff;
    box-shadow: 0 2px 4px 0 rgba(0,0,0, .05);
    min-height: 100px;

}

.nav-link { color:black;}
.nav-link:hover{color: black;}


.navbar-toggler { font-size: 40px; }
.navbar-toggler:focus { outline: none; }



#hero {
    background-image: url('images/hero.jpg');
    background-size: cover;
    padding-top: 90px;
    min-height: 700px;
    color:#ffffff;
}

#hero p {
    color: #ffffff;

}
.content-center {
    max-width: 800px;
    margin: 0 auto 60px auto;
    text-align: center;

}

#black {
    background-color: black;
    background-size: cover;
    padding-top: 90px;
    min-height: 700px;
    color:#ffffff;
}


